node_modules

.DS_Store

# next
.next

# sst
.sst

# open-next
.open-next

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

certificates
